In [6]:
import pandas as pd
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt
%matplotlib inline
import nltk
from nltk.corpus import movie_reviews

In [2]:
filt = pd.read_csv("filtered data set.csv")

In [3]:
filt.head()

,Unnamed: 0,Course Key,Term Code,Comments
0,2206,200710-11026,200710,3.5 out of 5 stars
1,2207,200710-11026,200710,A lot of reading and sometimes it was boring. ...
2,2208,200710-11026,200710,"a lot of reading on your own part, but interes..."
3,2209,200710-11026,200710,"BIOS 201 is a great class,not only because of ..."
4,2210,200710-11026,200710,"Bios 201 was an organized, well taught class. ..."

In [28]:
documents = [(set(movie_reviews.words(fileid)), category)
              for category in movie_reviews.categories()
              for fileid in movie_reviews.fileids(category)]

In [29]:
movreviews = pd.DataFrame(documents)
movreviews.columns = ['allw','cat']
allw = Counter(w.lower() for w in movie_reviews.words() if len(w) > 2)
topw = set(pd.Series(allw).sort_values(ascending = False).index[:2000])

In [41]:
movreviews['widf'] = movreviews['allw'].apply(lambda kw: {w:(True if w in kw else False) for w in topw})
forc = movreviews[['widf','cat']]
forctuple = list(forc.itertuples(index=False, name=None))

In [42]:
train_set, test_set = forctuple[100:], forctuple[:100]
classifier = nltk.NaiveBayesClassifier.train(train_set)

In [43]:
print(nltk.classify.accuracy(classifier, test_set))

0.86